/* _global-scss */

/* Colores */
$white: #ffffff;
$blue: rgb(0, 97, 178);
$yellow: #ffdb5c;
$purple: #5a0370;
$gray: rgb(65, 61, 61);

/* Fuentes */
$font-title: "Bebas Neue", cursive;
$font-app: 'Poppins', sans-serif;

/* Placeholders */